body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:  rgb(55, 155, 55);
}

#frame
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;

}

.tablero {
    display: grid;
    grid-template-columns: repeat(40, 20px); /* 8 columnas de 50px cada una */
    grid-template-rows: repeat(20, 20px); /* 8 filas de 50px cada una */
    border: 10px solid gray;
}

.casilla
 {
    width: 20px;
    height: 20px;
}

/* Colores alternados para las casillas */
.par
{
    background-color:  #8da259; 
}

.impar 
{
    background-color:  #bfe75a; 
}