//Variables for colors
//Background colors
$gameBackground: #8da259;
$snakeColor: #2c311d;
//border-radius
$border-radius: 10px;
$border-radius-items: 20%;
//sizes for little boxes
$width: 150px;
$height: 50px;
//Sizes for elements
$width-snake: 20px;
$height-snake: 20px;

body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:  rgb(55, 155, 55);
}



.snake, #food
{
    width: $width-snake;
    height: $height-snake;
    background-color: $snakeColor;
    border-radius: $border-radius-items;
    position: absolute;
}

.container
{
    position: absolute;
    left: 940px;
    top:40px;
    text-align: center;
    background-color: $gameBackground;
    border-radius: $border-radius;
    width: $width;
    height: $height;
    font-weight: bolder;
}

#score
{
    position: absolute;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: flex-start; /* Alinea el contenido a la izquierda */
    top: 40px;
    left: 275px;
    background-color: $gameBackground;
    width: $width;
    height: $height;
    font-weight: bolder;
    border-radius: $border-radius;
}

#frame
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;

}

.tablero {
    display: grid;
    grid-template-columns: repeat(40, 20px); /* 8 columnas de 50px cada una */
    grid-template-rows: repeat(20, 20px); /* 8 filas de 50px cada una */
    border: 10px solid gray;
}

.casilla
 {
    width: 20px;
    height: 20px;
}

/* Colores alternados para las casillas */
.par
{
    background-color:  #8da259; 
}

.impar 
{
    background-color:  #bfe75a; 
}